* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
}

body p {
    color: #333;
}

.header-section {
    background: #fde6e6;
    position: relative;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    padding: 25px 50px;
    margin: auto;
}

.navbar-logo {
    width: 100px;
}

.navbar-logo img {
    width: 100%;
}

.navbar-menu ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    list-style: none;
}

.navbar-menu ul li a {
    text-decoration: none;
    color: #000;
}

.navbar-menu .cart-img {
    width: 30px;
}

.navbar-menu li button {
    border: none;
    background: none;
    cursor: pointer;
}

/* -----------hero section----------------- */

.hero {
    width: 100%;
    background: #fde6e6;
}

.hero-info {
    min-height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1200px;
    padding: 0 50px;
    margin: auto;
    align-items: center;
}

.hero-image img {
    width: 100%;
    filter: drop-shadow(0 20px 30px rgba(0, 0, 0, 0.2));
}

.hero-details h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.explore-btn {
    color: #fff;
    text-decoration: none;
    background-color: brown;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 20px;
    margin-top: 30px;
    transition: background 1s ease;
}

.explore-btn:hover {
    background-color: darkred;
}

/* --------------catagory section----------------- */

.catagory {
    width: 100%;
    padding-top: 70px;
}

.catagory-menu {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: auto;
    padding: 50px 20px;

}

.catagory img {
    width: 100%;
    display: block;
}

/* ------------------featured section----------------- */

.title {
    text-align: center;
    margin: 100px 0;
    position: relative;
}

.title::after {
    content: "";
    width: 150px;
    height: 5px;
    background: red;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
}

.featured-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
    justify-items: center;
    transition: 1s;
}

.featured-items {
    transition: transform 1s ease;
}

.featured-items img {
    width: 100%;
}

/* ----------------latest Products-------- */
.latest-menu {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 0 20px;
    justify-items: center;
}

.latest-items img {
    width: 100%;
}

.latest-items {
    margin: 20px 0;
    transition: transform 1s ease;
}

.featured-items,
.latest-items i {
    font-size: 13px;
    color: red;
}

.featured-items:hover,
.latest-items:hover {
    transform: translateY(-15px);
}

/* ---------------call to action------------- */

.cta {
    width: 100%;
    background: #fde6e6;
    margin: 50px 0;

}

.cta-details {
    width: 100%;
    max-width: 1000px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    padding: 20px;
    align-items: center;

}

.cta-img img {
    width: 100%;
}

.cta-img {
    padding: 50px;
}

.cta-info h2 {
    font-size: 50px;
}

/* ------------testimonials ----------------  */
.testimonials {
    padding: 70px 0;
}

.testimonials-info {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 0 20px;

}

.testimonials-card img {
    width: 70px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}

.testimonials-card .rating i {
    color: red;
    margin: 10px 0;
}

.testimonials-card .fa-quote-left {
    font-size: 50px;
    color: red;
    margin-bottom: 20px;
}

.testimonials-card {
    text-align: center;
    padding: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);

    border-radius: 5px;
}

/* ----------------brand names----------------- */

.brand-name {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.brand-name img {
    cursor: pointer;
    filter: grayscale(1);
    width: 100px;
}

.brand-name img:hover {
    filter: grayscale(0);
}

/* ----------------footer section----------------- */
.footer-section {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 50px 20px;
    margin-top: 50px;

}

.app-img {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.app-img img {
    width: 100px;
    cursor: pointer;
}

.footer-items img {
    width: 130px;
    margin-bottom: 20px;
}

.footer-menu {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    text-align: center;

}

.footer-link ul {
    margin: 0;
    list-style: none;
}

.footer-link ul li a {
    color: #999;
    text-decoration: none;
}

.footer-link ul li a:hover {
    color: #fff;
}

.footer-link ul li {
    padding: 6px 0;
}

.footer-section h3 {
    margin-bottom: 15px;
}

.footer-section p {
    color: #999;
}

.footer-hr {
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
}

.copyright {
    text-align: center;
    margin-top: 50px;
}

/* ========================= */
/* ----------------Products list--------------------- */

.all-product {
    width: 100%;
    padding: 50px 0;
}

.product-list {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
}

.product-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    border-bottom: 1px solid #ddd;
}

.product-title select {
    border: 1px solid red;
    padding: 5px;
    outline: none;
    cursor: pointer;
}

.pagination {
    display: flex;
    list-style: none;
    width: 100%;
    max-width: 1000px;
    padding: 20px 30px;
    margin: auto;
}

.pagination li a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid gray;
    color: black;
    margin: 0 4px;
    border-radius: 5px;
}

.pagination li a:hover {
    background-color: black;
    color: white;
    transition: 0.3s ease;
}

/* =========================== */
/*-----------image-details--------------------  */

.image-details {
    margin: 100px 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;

}

.gallery-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-image img {
    width: 80%;
    height: auto;
    border-radius: 10px;
}

.thumbnails {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.thumbnails img {
    width: 100px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;

}

.main-image {
    width: 100%;
    text-align: center;
}

.gallery-info {
    padding: 40px;
}

.gallery-info h2 {
    font-size: 30px;
    margin: 10px 0;
}

.price {
    font-weight: 800;
}

.gallery-info select {
    padding: 5px;
    border: 1px solid red;
    display: block;
    margin: 20px 0;
}

.gallery-info form input {
    width: 40px;
    text-align: center;
    padding: 5px;
    border: 1px solid red;

}

.gallery-info form a {
    background: none;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 20px;
    background-color: red;
    color: #fff;
    border: none;
    transition: background 1s ease;
    text-decoration: none;
    font-weight: 600;
}

.gallery-info form button:hover {
    background-color: darkred;
}

.gallery-info h4 {
    margin: 20px 0;
    font-size: 20px;
}

/* ---- ------------relate{
d Products------------------ */

.related-products {
    padding: 0 20px 50px;
}

.related-products-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 50px 0;
}

.related-products-title a {
    color: #000;
    text-decoration: none;
}

.realated-items {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: auto;
    gap: 20px;

}

.realated-items article {
    transition: transform .5s ease;

}

.realated-items article:hover {
    transform: translateY(-15px);
}

.realated-items article img {
    width: 100%;

}

.realated-items article:hover {
    transform: translateY(-15px);
}

.realated-items article i {
    color: red;
    font-size: 13px;
}

/* ========----------cart container---------============== */

.cart-container {
    width: 100%;
    max-width: 1000px;
    margin: 80px auto;
    padding: 20px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: red;
    padding: 10px;
    align-items: center;
}

.cart-header .quality {
    margin-left: 180px;

}

.cart-header span {
    color: #fff;
    font-weight: bold;
}

.cart-items {
    display: flex;
    padding: 20px 10px;
    align-items: center;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
}

.cart-items .price {
    text-align: right;
}

.cart-products img {
    width: 70px;
}

.cart-products {
    display: flex;
    gap: 20px;
}

.image-info h4 {
    margin: 7px 0;
}

.image-info a {
    color: red;
    text-decoration: none;
    margin-top: 7px;
    display: inline-block;
}

.cart-items input {
    text-align: center;
    width: 50px;
    height: 40px;
}

.cart-total {
    text-align: right;
    padding: 10px;
    position: relative;
}

.total-cost {
    display: flex;
    gap: 160px;
    justify-content: flex-end;
    text-align: left;
}

.total-value span {
    display: block;
    padding: 20px 0;
    font-weight: bold;
    color: #333;

}

.total-price p {
    padding: 20px 0;
    text-align: right;
}

.cart-total button {
    background: red;
    color: #fff;
    border: none;
    padding: 11px 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 1s ease;
    display: inline-block;
    margin-top: 20px;
}

.cart-total button:hover {
    background: darkred;
}

.cart-total::before {
    content: "";
    background-color: red;
    width: 300px;
    height: 3px;
    position: absolute;
    right: 0;
}

/* =================== */
/* -------------------account section------------  */

.account {
    background: #fde6e6;
    width: 100%;
    min-height: 100vh;
    padding-top: 100px;
    margin-bottom: 100px;
}

.account-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 100px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
}

.account-hero-image img {
    width: 100%;
}


/* --------------- */
.account-form {
    background-color: #fff;
    padding: 20px;
    overflow: hidden;
}

.form-toggle {
    display: flex;
    justify-content: space-around;
    position: relative;

}

.form-toggle .indicator {
    position: absolute;
    bottom: -5px;
    width: 20%;
    height: 5px;
    background: red;
    transition: all 0.4s ease;
    left: 60px;
    border-radius: 10px;
}

.form-toggle button {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px 0;
    cursor: pointer;

}

.form-box {
    margin-top: 50px;
    text-align: center;
    width: 50%;
    padding: 20px;
}

.form-box form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
}

.form-box form button {
    border: none;
    background: red;
    display: block;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    margin: 10px 0;
    cursor: pointer;
}

.form-box form a {
    color: #222;
    text-decoration: none;
}

.account-wrapper {
    display: flex;
    width: 200%;
    transition: transform .5s ease;
}

#toggle-icon {
    display: none;
    font-size: 23px;
    color: #000;
    cursor: pointer;
}

/* ----------------Media Query For Small Smreen--------------------------- */


/*--------------------------- Media Query for index.html-------------- */

@media (max-width:700px) {

    #toggle-icon {
        display: block;
        position: fixed;
        color: #000;
        right: 5%;
        top: 3%;
        z-index: 100;
    }

    .navbar {
        background: pink;
        position: fixed;
        width: 100%;
        height: 70px;
        z-index: 100;
    }

    .navbar-logo {
        position: fixed;
        left: 5%;
        top: 3%;


    }

    .cart-img {
        position: fixed;
        top: 2.5%;
        right: 70px;

    }

    .navbar-menu {
        background: #111;
        position: absolute;
        top: 70px;
        left: 0;
        overflow: hidden;
        width: 100%;
        max-height: 0;
        transition: max-height 0.5s ease;
        z-index: 1000;

    }

    .navbar-menu ul li a {
        color: #fff;
    }

    .navbar-menu ul li {
        margin: 10px 50px;
    }

    .navbar-menu ul {
        flex-direction: column;
        align-items: flex-end;
    }

    .navbar-menu.active {
        max-height: 500px;
    }

    /* ---------------hero section----------- */

    .hero-details h1 {
        font-size: 40px;
        margin-top: 100px;
    }

    .hero-image {
        margin-top: 30px;
    }

    /*---------------call to action-------------   */
    .hero-info,
    .catagory-menu,
    .featured-menu,
    .latest-menu,
    .cta-details,
    .testimonials-info,
    .footer-menu,
    .account-info,
    .gallery {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .cta-details {
        padding: 80px 20px;
    }

    .footer-menu {
        text-align: left;
    }

    .cta-info h2 {
        font-size: 30px;
    }

    .product-title {
        margin-top: 50px;
    }

    .account-form {
        box-shadow: 1px 1px 5px #333;
        width: 80%;
        margin: 0 auto 50px;
        border-radius: 5px;

    }

    .cart-section .navbar {
        top: 0;
    }

    .image-details-info .navbar {
        top: 0;
    }

    .cart-container {
        margin-top: 130px;
    }

    .cart-header .quality {
        margin-left: 0;

    }

    .cart-items {
        padding: 5px 0;
    }

    .cart-products {
        flex-direction: column;
        gap: 20px;
    }

    .cart-products h4 {
        font-size: 16px;
    }

    .cart-items input {
        margin-right: 70px;
    }

    .gallery-info select {
        margin: 20px auto;
    }

}